/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    position: relative;
    min-height: 100vh;
    background: #98a165;
    flex-direction: column;
    
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;
    
}
/* --- Variables --- */




h1 {
  /*   width:100%; */
    text-align: center;
    align-content: center;
    justify-content:center;
    position: absolute;
    width: 100%;
    height: 100px; 
    top: 80px;
    background: #F5F1A5;
    border-radius: 30px;
    padding: 30px;
    font-size: 30px;
    color: rgb(13, 47, 13);
    text-shadow: 2px 4px 6px rgb(78, 76, 76);
    
}



.container {
    padding-top: 200px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    
}

.column-objects {
    
    
    text-align:center;
    width: 180px;
    height: 500px;
    border-radius: 25px;
    border: 2px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    
    /*  opacity: 0.25; */
}

h3 {
    width: 176px;
    height: 140px;
    background: #D9D9D9;
    
    border-radius: 25px 25px 0px 0px;
}


p {
    width: 176px;
    height: 356px;
    background: #DADB96;
    border-radius: 0px 0px 25px 25px;
    padding:20px;
   
}



button {
    width: 100px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 25px;
    transform: translateY(-60px);
    text-shadow: 2px 4px 6px rgb(78, 76, 76);
    font-size: 20px;


}
 
.foot {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:stretch;
    text-align:center;
    background-color: #2f331a;
    color:#FFFFFF;
    font-size: 12px;
    margin-top:auto;
    width:100%;
    padding:20px;
    bottom:0;
    position:absolute;
    height: 2.5rem;
    padding-bottom: 2.5rem;
    border-block-end-width: 4px;
    border-color: black;
} 


.article-flex {
    display:flex;
    height:2.5rem;
    width:100%;
    background-color: #2f331a;
    justify-content: space-between;
    font-size:12px;
    align-items:center;
    border-block-end-width: 20px;
    box-sizing:border-box;
}

li{
    color:white;
    justify-content:flex-start;
    align-items:center;
    margin: 20px;
}

.butt2-flex {
    display:flex;
    background-color:#FFFFFF;
    justify-content: space-around;
    align-items:center;
    color:black;
    height: 20px;
    width: 100px;
    border-color: black;
    border: 2px solid black;
    margin: 20px;
    gap: 20px;
    
}

butt-button1 {
    background-color:#FFFFFF;
    color:black;
    height:20px;
    width: 30px;
    border: 2px solid black;
    margin: 20px;

 }


/* 
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;  }  /* Footer height */

 /* 
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;     }       /* Footer height */
 